.table-wrapper {
  display: block;
  overflow-x: auto;
}

table {
  width: 100% !important;
  max-width: 100%;
  margin-bottom: var(--ifm-spacing-vertical);
  display: table;
}

table thead,
table tbody {
  width: 100% !important;
}

table thead th {
  text-align: left;
  font-feature-settings: "clig" off, "liga" off;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-heavy);
  line-height: 18px;
  position: sticky;
  top: 0;
  padding: 20px;
}

table tr td {
  color: var(--table-body-color);
  font-feature-settings: "clig" off, "liga" off;
  font-size: var(--font-size-medium);
  font-style: normal;
  font-weight: var(--font-weight-medium-light);
  line-height: 18px;
  padding: 20px;
  text-align: start;
  vertical-align: top;
}

table thead tr {
  border: 0 !important;
}
